body {
    margin: 0px;
    padding: 0px;
    background-color: #E16A54;
}

form {
    justify-content: center;
    text-align: center;
    margin-top: 6rem;
    background-color: #F39E60;
    height: 25rem;
    width: 25rem;
    margin-left: 25rem;
    border-radius: 2rem;
    padding: 2rem;
}

.container p {
    text-align: left;
    font-size: 1.5rem;
}

.container input {
    height: 2rem;
    width: 22rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

/* Styles for the box */
.box{
    height: 6rem;
    width: 5rem;
    display: flex;
    margin-top: 2rem;
}
.box img{
    height: 4rem;
    width: 5rem;
    margin-right: 2rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
}
.box select{
    height: 2rem;
    width: 4rem;
}
.box p{
    margin-left: 1.5rem;
}
.box select{
    height: 2rem;
    width: 3rem;
}